<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" id="description" content="约吧,分享" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>约吧</title>
  <link rel="stylesheet" href="css/index.css?_T=195623478" />
</head>

<body class="max-content">
  <!-- 主窗口 -->
  <div class="max-content has-download-app has-footer" id="main-body"></div>

  <script id="home" type="text/html">
    <div class="loding-area">
      <div class="material-loader">
        <img src="img/loading.gif"/>
        <!-- <svg class="circular">
          <circle class="path" cx="30" cy="30" r="12" fill="none" stroke-width="3" stroke-miterlimit="6"></circle>
        </svg> -->
      </div>
    </div>
    <!-- 下载饭蛋app -->
    <div class="download-app" id="download-app">
      <div class="download-des pull-left ib_dis_content">
        <img src="img/logo_fandien_h5.png" />
        <span>下载饭蛋APP</span>
      </div>
      <div class="download-now pull-right" fd-click="downloadApp(perMoney,'good')">立即下载</div>
    </div>
    <!-- 广告部分 -->
    <header class="adv">
      <a class="activity-rule" href="activity.html">活动规则</a>
    </header>
    <!-- 主体部分 -->
    <div class="main-body">
      <div class="count-down" id="time-achole">
        {{if orderInfo.isOrderClosed}}
          {{if (orderInfo.isInititor || orderInfo.isTakeInviter)}}
            <p>拼单已成功</p>
          {{else}}
            <p>拼单已结束</p>
          {{/if}}
        {{/if}}
        {{if orderInfo.isOrderFiled}}
          {{if (orderInfo.isInititor || orderInfo.isTakeInviter)}}
            <p class="un-suc">拼单未成功</p>
          {{else}}
            <p class="un-suc">拼单已结束</p>
          {{/if}}
        {{/if}}
        {{if orderInfo.isOrderPending}}
        <p>距离拼单结束还有</p>
        <div class="remain-time ib_dis_content" id="time-count-down"></div>
        {{/if}}
      </div>
      <div class="share-people">
        <div class="share-people-pic ib_dis_content">
          {{if !orderInfo.isOrderClosed}}
            <!-- 循环头像 -->
            {{each headCuts}}
              <div class="pic-wap {{$value.role=='INITIATOR'?'initiator':''}}">
                <div class="head-short-cut">
                  <img src="{{$value.avatar_path}}" onerror = "this.src='img/logo_fandien_h5.png'"/>
                </div>
              </div>
            {{/each}}
          {{else}}
            {{each orderInfo.alreadyPaidCustomers}}
              <div class="pic-wap {{$value.role=='INITIATOR'?'initiator':''}}">
                <div class="head-short-cut">
                  <img src="{{$value.avatar_path}}" onerror = "this.src='img/logo_fandien_h5.png'"/>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>
        <div class="share-detail">
          {{if orderInfo.isOrderPending}}
            <p><span class="per-money">￥{{orderInfo.payment_aa_invitee_amount}}/人</span>{{orderInfo.customer_number}}人拼单·已拼{{orderInfo.alreadyPaidCustomerNumber}}人</p>
            <p class="will-reword">拼单成功后您将得到奖励金<span class="reward-money">¥{{orderInfo.rewardMoney}}</span>。</p>
          {{/if}}
          {{if orderInfo.isOrderFiled}}
              {{if (orderInfo.isTakeInviter || orderInfo.isInititor)}}
                <p>本次拼单已被取消，钱款会退回到原来的支付渠道。</p>
              {{/if}}
          {{/if}}
          {{if orderInfo.isOrderClosed}}
            <p><span class="per-money">￥{{orderInfo.payment_aa_invitee_amount}}/人</span>{{orderInfo.customer_number}}人拼单·已拼{{orderInfo.alreadyPaidCustomerNumber}}人</p>
            {{if !(orderInfo.customer_number == orderInfo.alreadyPaidCustomerNumber)}}
              <p>发起人已支付余下金额</p>
            {{/if}}
            {{if (orderInfo.isTakeInviter || orderInfo.isInititor)}}
              <p>您已得到奖励金<span class="reward-money">¥{{orderInfo.rewardMoney}}</span>，请到饭蛋钱夹查看</p>
            {{/if}}
          {{/if}}
        </div>
        <div class="order-detail">
          <div class="order-detail-title ib_dis_content">
            <span class="closed" fd-click="showDetails()" id="is-show-details-btn">展开详情</span>
          </div>
          <div class="order-detail-list" id="order-details" style="display:none;">
            <div class="detail-part">
                <p class="detail-part-title">商家信息</p>
                <div class="detail-spacies">
                    <p class="has-icon icon-home">{{restaurantInfo.restaurant_name}}</p>
                    <p class="has-icon icon-position no-border"><span>{{restaurantInfo.address1}}</span></p>
                </div>
            </div>
            <div class="detail-part">
                <p class="detail-part-title">赏味菜品</p>
                <div class="detail-spacies">
                    <p class="all-letters no-border">{{orderInfo.catalogueAll}}</p>
                </div>
            </div>
            <div class="detail-part">
                <p class="detail-part-title">订单信息</p>
                <div class="detail-spacies">
                    <p class="form-like"><span>用餐时间</span><span>{{orderInfo.effective_date}}</span></p>
                    <p class="form-like"><span>邀请人手机号</span><span>{{orderInfo.inititorMobile}}</span></p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 订单没有关闭 -->
      {{if (!orderInfo.isOrderClosed && !orderInfo.isOrderFiled)}}
          <!-- 是邀请人 -->
          {{if orderInfo.isInititor}}

          {{/if}}
          <!-- 不是邀请人 -->
         {{if !orderInfo.isInititor}}
          <!-- 已经接受邀请 -->
          {{if orderInfo.isTakeInviter}}
            <!-- 是否已经支付 -->
            {{if orderInfo.isAlreadyPaid}}
              <footer class="accep-invitation already-paid">
                  您已接受邀请
              </footer>
            {{/if}}
            <!-- 没有支付 -->
            {{if !orderInfo.isAlreadyPaid}}
              <footer class="accep-invitation" fd-click="goToWeChatPage(orderInfo.accepTime)">
                  您已接受邀请，立即支付
              </footer>
            {{/if}}
          {{/if}}
           <!-- 不是邀请人 -->
          {{if !orderInfo.isTakeInviter}}
              {{if !orderInfo.isAllTakeinviters}}
                <footer class="accep-invitation" fd-click="getAccept()">
                    接受邀请
                </footer>
              {{/if}}
              {{if orderInfo.isAllTakeinviters}}
                <footer class="accep-invitation">
                    有人还未付款，您还有机会，请等待
                </footer>
              {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
      {{if orderInfo.isOrderClosed}}
          {{if orderInfo.isAlreadyPaid}}
              <footer class="accep-invitation already-paid">
                  您已接受邀请
              </footer>
            {{/if}}
      {{/if}}
  </script>
  <!-- 跳转微信支付详情页面 -->
  <script id="wechatpay" type="text/html">
    <div class="loding-area">
      <div class="material-loader">
        <!-- <svg class="circular">
          <circle class="path" cx="30" cy="30" r="12" fill="none" stroke-width="3" stroke-miterlimit="6"></circle>
        </svg> -->
        <img src="img/loading.gif"/>
      </div>
    </div>
    <div class="order-detail">
      <div class="order-detail-list wechat-pay-detail">
        <div class="wecharpay-count-down">
          <div class="wecharpay-remain-time ib_dis_content" id="pay-time-count-down"></div>
          <p>请在提示时间内付款</p>
        </div>
        <div class="detail-part stick-border">
            <div class="detail-spacies">
                <p class="form-like no-border"><input type="number" class="single" placeholder="输入手机号" id="mobile-num" value="{{orderInfo.rightPersonMobile ? orderInfo.rightPersonMobile : ''}}"/></p>
            </div>
        </div>
        <div class="detail-part">
            <p class="detail-part-title">商家信息</p>
            <div class="detail-spacies">
                <p class="has-icon icon-home">{{restaurantInfo.restaurant_name}}</p>
                <p class="has-icon icon-position"><span>{{restaurantInfo.address1}}</span></p>
            </div>
        </div>
        <div class="detail-part">
            <p class="detail-part-title">赏味菜品</p>
            <div class="detail-spacies">
                <p class="all-letters">{{orderInfo.catalogueAll}}</p>
            </div>
        </div>
        <div class="detail-part stick-border">
            <p class="detail-part-title">订单信息</p>
            <div class="detail-spacies">
                <p class="form-like"><span>用餐时间</span><span class="detail-value">{{orderInfo.effective_date}}</span></p>
                <p class="form-like no-border"><span>邀请人手机号</span><span class="detail-value">{{orderInfo.inititorMobile}}</span></p>
            </div>
        </div>
      </div>
    </div>
    <footer class="go-wecart-pay" fd-click="pay(orderInfo.rightPersonMobile)">
        <div class="count-total">总计：¥{{orderInfo.payment_aa_invitee_amount}}</div>
        <div class="chat-pay-btn" >微信支付</div>
    </footer>
    <div class="content-paid" style="display:none;" id="pay-suc">
      <div class="mobile-paid"></div>
      <div class="suc-paid">
        <p>您已成功付款¥{{orderInfo.payment_aa_invitee_amount}}</p>
        <div class="paid-back" fd-click="goBackToHome()">返回查看</div>
      </div>
    </div>
  </script>
  <!-- 404页面 -->
  <script id="notfound" type="text/html">
    <div class="content-404">
      <div class="error-pin"></div>
      <div class="error-hanger">
        error
        <span>404</span>
      </div>
      <div></div>
      <!-- <p class="user-name-404">亲爱的用户：</p>
      <p class="explain-404">&nbsp;&nbsp;&nbsp;&nbsp;十分抱歉，您的页面飞向火星去了，我们正在准备飞船前往寻找，请您不要着急。在此期间你可以到<a href="#">活动页面</a>去看看，我们为您准备了足够的惊喜。</p>
      <p class="sign-404">--约吧404机动战队</p> -->
    </div>
  </script>
  <script src="plugins/require.js" data-main="handle/h5"></script>
</body>

</html>